services:
  db:
    image: postgres
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    volumes:
      - ./data:/var/lib/postgresql/data
  agixt:
    image: joshxt/agixt:latest
    init: true
    depends_on:
      - db
    environment:
      - DB_CONNECTED=true
      - POSTGRES_SERVER=${POSTGRES_SERVER:-db}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - UVICORN_WORKERS=${UVICORN_WORKERS:-4}
      - AGIXT_HUB=${AGIXT_HUB:-AGiXT/light-hub}
      - GITHUB_USER=${GITHUB_USER}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - TOKENIZERS_PARALLELISM=False
      - HTTP_PROXY=http://host.docker.internal:7890
      - HTTPS_PROXY=http://host.docker.internal:7890
      - ALL_PROXY=socks5://host.docker.internal:7890
      - NO_PROXY=.example.org,127.0.0.0/8,8.213.133.13,host.docker.internal
    ports:
      - "7437:7437"
    volumes:
      - ./agixt/models:/model
      - ./agixt/agents:/agixt/agents
      - ./agixt/chains:/agixt/chains
      - ./agixt/prompts:/agixt/prompts
  streamlit:
    image: joshxt/streamlit:latest
    depends_on:
      - agixt
    environment:
      - AGIXT_HUB=${AGIXT_HUB:-AGiXT/light-hub}
      - AGIXT_URI=${AGIXT_URI:-http://agixt:7437}
    ports:
      - "8501:8501"
